{% extends 'base.html' %}

{%  block content %}
<main>
    {% load static %}
    <div class="news_background">
        <video class="news_background_video" autoplay loop muted>
            <source src="{% static 'video/background-video.mp4' %}"> 
        </video>
    </div>
    <div class="news_main">
        <div class="news_main-box">
            {% for event in events %}
            <a href="{% url 'event' event.id %}">
                <div class="news_main-box-newsbox">
                    <img class="news_main-box-newsbox-background" src="{{ event.img.url }}" alt="{{ event.title }}">
                    <h4 class="news_main-box-newsbox-date" >November 24 , 2020 &nbsp; , &nbsp;  Place : Franfurt</h4>
                    <h2 class="news_main-box-newsbox-title">{{ event.title }}</h2>
                </div>
            </a>
            {% endfor %}
            {% if events.has_other_pages %}
            <div class="pagination">
                {% if events.has_previous %}
                <div class="pagination-left">
                    <a href="?page={{ events.previus_page_number }}"><img src="{% static 'img/icons/SVG/pagination_link.svg' %}" alt=""></a>
                </div>
                {% else %}
                <div class="pagination-left disabled">
                    <a ><img src="{% static 'img/icons/SVG/pagination_link.svg' %}" alt=""></a>
                </div>
                {% endif %}
                {% for i in events.paginator.page_range %}
                    {% if events.number == i %}
                        <div class="pagination-num active">
                            <a>{{ i }}</a>
                        </div>
                    {% else %}
                        <div class="pagination-num">
                            <a href="?page={{ i }}">{{ i }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if events.has_next %}
                    <div class="pagination-right">
                        <a href="?page={{ events.next_page_number }}"><img src="{% static 'img/icons/SVG/pagination_link.svg' %}" alt=""></a>
                    </div>
                {% else %}
                    <div class="pagination-right disabled">
                        <a><img src="{% static 'img/icons/SVG/pagination_link.svg' %}" alt=""></a>
                    </div>
                {% endif %}
            </div>
            {% endif %}
            
        </div>
    </div>
</main>

{% endblock %}